In [ ]:
import pandas as pd

In [ ]:
file="./SimpleRecords.json"
pd.read_json(file)

In [ ]:
file="./MaxLevel.json"
pd.read_json(file)

In [ ]:
file="./MetaNameConflict.json"
pd.read_json(file)

In [ ]:
file="./NestedObjectRecord.json"
pd.read_json(file)

In [ ]:
file="./ShallowNested.json"
pd.read_json(file)

In [ ]:
file="./DeeplyNested.json"
#pd.read_json(file)

In [ ]:
file="./SimpleRecords.json"
pd.read_json(file)

In [ ]:
import json

with open('SimpleRecords.json') as f:
   data = json.load(f)

pd.DataFrame(data)

In [47]:
# file="./SimpleRecords.json"
# data=pd.read_json(file)
# pd.json_normalize(data)

pd.json_normalize(
    {
        "A": {
            "A": 1,
            "B": 2
        }
    }
)

   A.A  A.B
0    1    2

In [46]:
import json

text_file = open("./SimpleRecords.json", "r")
data = text_file.read()
text_file.close()

#print(data)
#pd.json_normalize(data)
target=json.loads(data)
pd.json_normalize(target)

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12