In [3]:
import pandas as pd

In [4]:
file="./SimpleRecords.json"
pd.read_json(file)

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [5]:
file="./DeeplyNested.json"
# pd.read_json(file)

In [6]:
file="./MaxLevel.json"
pd.read_json(file)

,CreatedBy,Lookup,Image
0,{'Name': 'User001'},"{'TextField': 'Some text', 'UserField': {'Id':...",{'a': 'b'}

In [7]:
file="./MetaNameConflict.json"
pd.read_json(file)

     foo    bar                                               data
0  hello  there  [{'foo': 'something', 'bar': 'else'}, {'foo': ...

In [8]:
file="./NestedObjectRecord.json"
pd.read_json(file)

            state                                               info
counties  Florida  [{'name': 'Dade', 'population': 12345}, {'name...
governor  Florida                                         Rick Scott

In [9]:
file="./ShallowNested.json"
pd.read_json(file)

,state,shortname,info,counties
0,Florida,FL,{'governor': 'Rick Scott'},"[{'name': 'Dade', 'population': 12345}, {'name..."
1,Ohio,OH,{'governor': 'John Kasich'},"[{'name': 'Summit', 'population': 1234}, {'nam..."